name: Sync to Hugging Face Hub
on:
  push:
    branches: [main]
  # Memungkinkan sinkronisasi manual jika diperlukan
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Push to Hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          # Paksa push ke repositori Space Hugging Face
          git push --force https://naufalnashif:$HF_TOKEN@huggingface.co/spaces/naufalnashif/web_scrapper main